# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\self\code\frame-code-study\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
